.main-breadcrumbs {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-breadcrumbs .item::after {
  content: "/";
  display: inline-block;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.04em;
  color: #282828;
}
.main-breadcrumbs .item .link {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.04em;
  color: #282828;
}
.main-breadcrumbs .item:last-child::after {
  display: none;
}
.main-breadcrumbs .item:last-child .link {
  font-weight: 700;
}