.text-page {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .content {
    position: relative;
    width: calc(100% - 347px);
    padding: 0;

    .title {
      padding-top: 40px;
      max-width: 877px;
      font-family: Jost;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 130%;
      color: #1a223f;
    }

    .date {
      margin-top: 20px;
      font-family: Jost;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #c1c1c1;
    }

    .description {
      max-width: 780px;
      margin-top: 40px;
      font-family: Stolzl;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;
      color: #1a223f;

      a {
        font-family: Stolzl;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #1467ff;
      }
    }
  }

  .image {
    width: 347px;
    position: relative;
    overflow: visible;
  }
}

.text-page-content {
  width: 100%;
  max-width: 1200px;
  margin: 190px auto 0;

  .title {
    margin-bottom: 40px;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #1467ff;

    span {
      font-family: Jost;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 130%;
      color: #1a223f;
    }
  }

  .subtitle {
    margin-bottom: 35px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #1a223f;
  }

  .point {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;

    font-family: Stolzl;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.04em;
    color: #1a223f;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;

      display: block;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: #1467ff;
      min-width: 6px;
      margin-right: 10px;
      margin-top: 10px;
    }

    a {
      font-family: Stolzl;
      font-style: normal;
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0.04em;
      color: #1467ff;
    }
  }

  .txt {
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;

    font-family: Stolzl;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.04em;
    color: #1a223f;

    a {
      font-family: Stolzl;
      font-style: normal;
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0.04em;
      color: #1467ff;
    }
  }
}

@media (max-width: 1240px) {
  .text-page {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;

    .main-breadcrumbs {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .text-page-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1040px) {
  .text-page {
    flex-direction: column;
    margin-top: 0;

    .image {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .content {
      width: 100%;

      .title {
        max-width: 100%;
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
      }

      .description {
        max-width: 100%;
        margin-top: 24px;
        margin-bottom: 20px;
        font-family: Jost;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        color: #1a223f;

        a {
          font-family: Jost;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 160%;
        }
      }
    }
  }

  .text-page-content {
    margin-top: 90px;
    .title {
      font-family: Jost;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 130%;

      span {
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
      }
    }
    .point {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 180%;

      a {
        font-size: 14px;
        line-height: 180%;
      }
    }
    .txt {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 180%;

      a {
        font-size: 14px;
        line-height: 180%;
      }
    }
    .subtitle {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 180%;
    }
  }
}
