.black-list-title-wrap {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    bottom: -195px;
    left: -425px;
    width: 1235px;
    height: 898px;
    background-image: url("../img/line17.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 749px;
    height: 547px;
    background-image: url("../img/line16.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.black-list-title {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 90px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .content {
    position: relative;
    width: calc(100% - 323px);
    padding: 0;

    .title {
      margin-top: 100px;
      max-width: 877px;
      font-family: Jost;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 130%;
      color: #1a223f;
    }

    .subtitle {
      max-width: 667px;
      margin-top: 40px;
      font-family: Stolzl;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0.04em;
      color: #282828;
    }

    .description {
      margin-top: 32px;
      max-width: 667px;
      position: relative;
      display: flex;
      flex-direction: row;
      font-family: Stolzl;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0.04em;
      color: #282828;

      &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #1467ff;
        min-width: 6px;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }

  .image {
    width: 318px;
    position: relative;
    overflow: visible;

    img {
      position: absolute;
      width: 347px;
      max-width: 347px;
      right: 0;
      top: 60px;
      z-index: 1;
    }
  }
}

.black-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 55px 60px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      padding-right: 18px;
      margin-right: 18px;
      margin-bottom: 24px;
      font-family: Stolzl;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      letter-spacing: 0.04em;
      text-decoration: line-through;
      color: #1467ff;
      border-right: 2px solid rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 1240px) {
  .black-list-title {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;

    .main-breadcrumbs {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .black-list {
    margin-top: 20px;
  }
}

@media (max-width: 1040px) {
  .black-list-title-wrap {
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }

  .black-list-title {
    flex-direction: column;

    .image {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        position: relative;
        top: 0;
        margin: 0 auto;
        width: auto;
        max-width: 100%;
      }
    }

    .content {
      width: 100%;

      .title {
        max-width: 100%;
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
      }
      .subtitle {
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        max-width: 100%;
        font-size: 14px;
        line-height: 180%;
        text-align: center;
      }

      .description {
        &::before {
          display: none;
        }

        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 180%;
      }
    }
  }
}

@media (max-width: 640px) {
  .black-list {
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);

    .items {
      .item {
        margin: 0 0 24px 0;
        border-right: 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}
