.bonuses {
  .about {
    margin-top: 28px;

    .title {
      font-family: "Stolzl";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 18px;
      color: #000000;
    }
  }

  .table {
    margin:35px 0 0 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    box-shadow: 0px 2px 30px rgba(97, 109, 153, 0.08);
    border-radius: 20px;

    .head {
      padding:40px;
      display:flex;
      align-items:center;
      font-family: 'Stolzl';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;      
      color: #616D99;

      .warning-text {
        margin-left: 3px;
        display: block;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-image: url("https://evowebstudio.github.io/prostobox/img/icons/warning-text.svg");
        background-position: center;
        background-size: 18px;
      }
    }

    table {
      margin:0 20px;
      padding-bottom: 40px;
      width: calc(100% - 40px);

      tr {
        &:nth-child(odd) {
          td {
            background: #F9F9F9;
            vertical-align: top;

            &:first-child {
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
              width: 240px;
            }

            &:last-child {
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
            }
          }
        }

        td {
          padding:24px;
          font-family: 'Stolzl';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #282828;

          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #2B69F6;

            &.gray {
              color: #616D99;
            }
          }
        }
      }
    }
  }
}
