.settings {
    .mob-nav-sidebar {
        display: none;
    }
    .about {
      margin-top: 28px;
  
      .title {
        font-family: "Stolzl";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 18px;
        color: #000000;
      }
    }

    .nav {
        margin:30px 0 0 0;
        display: flex;

        .button {
            margin-right: 12px;
            min-width: auto;
            padding: 22px 28px;
            font-family: 'Stolzl';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: #616D99;
            background: #FFFFFF;
            box-shadow: 0px 2px 30px rgba(97, 109, 153, 0.08);
            border-radius: 20px;

            &::before {
                display: none;
            }

            &:last-child {
                margin-right: 0;
            }

            &.blue {
                color:#fff;
                background: #2B69F6;
                border: 2px solid #2B69F6;
                box-shadow: 0px 2px 30px rgba(97, 109, 153, 0.08);
            }

        }
    }

    .form {
        margin-top: 40px;
        padding: 40px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        box-shadow: 0px 2px 30px rgba(97, 109, 153, 0.08);
        border-radius: 20px;

        .row {
            margin-bottom: 28px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .group {
            width: 100%;
            
            .label {
                margin-bottom: 20px;
                font-family: 'Stolzl';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 18px;
                /* identical to box height, or 100% */

                display: flex;
                align-items: center;

                color: #616D99;
            }

            &.select-address {
                width: calc(100% - 240px - 30px);

                .select {
                    max-width: 100%;
                }
            }

            .input_text {
                &.full {
                    width: 100%;
                }
            }

            &.half {
                width: calc(50% - 15px);

                .input_text {
                    width: 100%;
                }

                .select {
                    max-width: 100%;
                }
            }
        }

        .button {
            margin-left: 30px;
            width: 240px;
            font-family: 'Stolzl';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            background: #FFE200;

            &::before {
                display: none;
            }
        }
    }
}

@media(max-width: 1240px) {
    .content {
        &.account {
            &.settings {
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}

@media(max-width: 768px) {
    .settings {
        .mob-nav-sidebar {
            display: block;
            margin-top: 20px;
            padding: 25px 10px;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 30px rgba(97, 109, 153, 0.08);
            border-radius: 12px;

            p {
                position: relative;
                font-family: 'Stolzl';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 13px;
                color: #000000;

                &:after {
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: -15px;
                    display: block;
                    width: 10px;
                    height: 5px;
                    background-image: url("https://evowebstudio.github.io/prostobox/img/icons/arrow-down-nav.svg");
                    //background-image: url('../../img/icons/arrow-down-nav.svg');
                    background-position: center;
                    background-size: 10px 5px;
                    background-repeat: no-repeat;
                }

            }
        }

        .about {
            .title {
                font-size: 16px;
            }
            .text {
                margin-top: 5px;
                font-size: 14px;
            }
        }
        .nav {
            flex-wrap: wrap;
            justify-content: center;

            .button {
                margin-bottom: 10px;
                font-size: 12px;
                line-height: 20px;
                padding: 16px 24px;
            }
        }

        .form {
            margin-top: 20px;
            padding: 20px;

            .row {
                margin-bottom: 0;
                flex-wrap: wrap;

                .group {
                    margin-top: 20px;

                    .label {
                        margin-bottom: 5px;
                        font-size: 14px;
                    }

                    &.half {
                        width: 100%;
                    }

                    &.select-address {
                        width: 100%;
                    }
                }
            }

            .button {
                margin-top: 10px;
                width: 100%;
                margin-left: 0;
            }

            .input_text {
                font-size: 12px;
            }

            .select {
                .select-selected {
                    font-size: 12px;
                }
            }
        }
    }
}