.main-discounts {
  overflow: hidden;
  position: relative;
  width: 100%;

  max-width: $maxWidthContent;
  margin: 150px auto 0;
  background: #ffffff;
  box-shadow: 0px 24px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

  .content {
    width: 100%;
    padding: 60px 55% 64px 60px;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 1px;
    right: calc(50% + 59px);
    transform: translateX(100%);
    width: 657px;
    height: 621px;
    background-image: url(../img/clothes.png);
  }

  .title {
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    color: #1a223f;
  }

  .heading {
    margin: 20px 0 0 0;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #1a223f;

    span {
      color: #1467ff;
      font-family: Jost;
    }
  }

  .button {
    margin-top: 40px;
  }
}

@media (max-width: 1030px) {
  .main-discounts {
    margin: 60px auto 0;
    width: calc(100% - 30px);

    &::before {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      background-image: url("../img/discounts-mob.png");
      height: 340px;
    }

    .content {
      width: 100%;
      padding: 0 15px 60px;

      .title {
        font-size: 30px;
        text-align: center;
      }

      .heading {
        font-size: 20px;
        text-align: center;
      }

      .button {
        margin-top: 20px;
        width: 260px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}
