.services-warehouse-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 70px;
  background: #282828;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: hidden;
}
.services-warehouse {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0 150px;

  .title {
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    color: #ffffff;
  }

  .list {
    margin: 80px 0 0 0;

    .item {
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        transform: none;
        left: -24px;
        top: 16px;
        background-image: url("../img/icons/services-paid-dollar-sign.svg"),
          radial-gradient(
            #fff,
            #fff 14px,
            #282828 15px,
            #282828 22px,
            #c1c1c1 23px
          );
        background-size: 12px 19px, 60px 60px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
      }

      margin: 20px 0 0 30px;
      padding: 20px 0 20px 70px;
      position: relative;
      width: 100%;
      max-width: calc(100% - 30px);
      background: #ffffff;
      box-shadow: 0px 17.227px 21.5337px rgba(0, 0, 0, 0.05);
      border-radius: 14.3558px;

      .description {
        font-family: "Stolzl";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.04em;
        color: #1a223f;
      }

      .price {
        width: 256px;
        font-family: Stolzl;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 180%;
        letter-spacing: 0.04em;
        color: #1467ff;

        span {
          margin-left: 20px;
          font-family: Stolzl;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: 0.04em;
          color: #1a223f;
        }
      }
    }
  }

  .additional-warehouse {
    padding-top: 150px;

    .grid {
      padding-top: 60px;
    }

    .item {
      padding: 80px 0 0 0;
      width: 25%;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        transform: none;
        left: 0;
        top: 0px;
        background-image: url("../img/icons/packaging-cross-sign.svg"),
          radial-gradient(
            #fff,
            #fff 14px,
            #1467ff 15px,
            #1467ff 22px,
            #bbd3ff 23px
          );
        background-position: top 23px left 23px, center;
        background-size: 14px 14px, 60px 60px;
        border-radius: 50%;
        background-repeat: no-repeat;
      }

      .name {
        font-family: "Stolzl";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.04em;
        color: #ffffff;
      }

      .price {
        margin: 20px 0 0 0;
        font-family: Stolzl;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 180%;
        letter-spacing: 0.04em;
        color: #ffffff;

        span {
          display: block;
          font-family: "Stolzl";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: 0.04em;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .services-warehouse-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
  }

  .services-warehouse {
    padding-right: 15px;
    padding-left: 15px;

    .additional-warehouse {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 1030px) {
  .services-warehouse {
    padding-top: 60px;

    .list {
      margin-top: 30px;

      .item {
        margin-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;

        &::before {
          width: 40px;
          height: 40px;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          background-image: url(../img/icons/services-paid-dollar-sign.svg),
            radial-gradient(
              #fff,
              #fff 9px,
              #282828 10px,
              #282828 15px,
              #c1c1c1 16px
            );
          background-position: center;
          background-repeat: no-repeat;
          background-size: 8px 13px, 40px 40px;
        }

        .description {
          text-align: center;
          width: 100%;
          font-size: 16px;
          line-height: 180%;
        }

        .price {
          text-align: center;
          width: 100%;
          font-size: 18px;
          line-height: 180%;

          &.last {
            justify-content: center;
            flex-direction: column;

            span {
              margin-left: 0;
              font-size: 14px;
              line-height: 130%;
            }
          }
        }
      }
    }

    .additional-warehouse {
      padding-top: 60px;

      .grid {
        .item {
          width: 100%;
          padding-top: 50px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &::before {
            width: 40px;
            height: 40px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            background-image: url(../img/icons/packaging-cross-sign.svg),
              radial-gradient(
                #fff,
                #fff 9px,
                #1467ff 10px,
                #1467ff 15px,
                #bbd3ff 16px
              );
            background-position: top 15px left 15px, center;
            background-repeat: no-repeat;
            background-size: 10px 10px, 40px 40px;
          }

          .name {
            text-align: center;
            font-size: 16px;
            line-height: 180%;
          }

          .price {
            margin-top: 10px;
            text-align: center;
            font-size: 18px;
            line-height: 180%;
          }
        }
      }
    }

    .title {
      font-size: 30px;
      line-height: 130%;
      text-align: center;
    }
  }
}
