.how-to-buy .section-xxl {
  max-width: 1600px;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.how-to-buy__wrapper {
  border-radius: 20px;
  background-color: #fff;
  padding: 0 8px 300px;
  position: relative;
  overflow: hidden;
}
.how-to-buy__wrapper .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.how-to-buy__text-wrapper {
  position: relative;
}
.how-to-buy__text-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 301px;
  height: 287px;
  right: 0;
  background-image: url("../img/how-to-buy.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.how-to-buy__text-wrapper .title {
  width: 100%;
  max-width: 640px;
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 130%;
  color: #1a223f;
}
.how-to-buy__text-wrapper .description {
  margin: 40px 0 0 0;
  width: 100%;
  max-width: 730px;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.04em;
  color: #282828;
}

@media (min-width: 1240px) {
  .how-to-buy__text-wrapper {
    padding-bottom: 90px;
  }
  .how-to-buy__text-wrapper::before {
    width: 602px;
    height: 574px;
    top: -13px;
    right: -103px;
    -webkit-transform: none;
            transform: none;
  }
}
@media (min-width: 992px) {
  .how-to-buy__text-wrapper {
    padding-top: 100px;
  }
}
@media (min-width: 768px) {
  .how-to-buy .section-xxl {
    padding: 0;
  }
}
@media (max-width: 1240px) {
  .how-to-buy {
    padding-left: 15px;
    padding-right: 15px;
  }
  .how-to-buy .main-breadcrumbs {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1030px) {
  .how-to-buy__wrapper::after {
    content: "";
    position: absolute;
    display: block;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 50%;
    width: 360px;
    height: 379px;
    bottom: -66px;
    background-image: url(../img/how-to-buy-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .how-to-buy__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .how-to-buy__text-wrapper .title {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
  .how-to-buy__text-wrapper .description {
    margin-top: 20px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }
  .how-to-buy__text-wrapper::before {
    display: none;
  }
  .how-to-buy__text-wrapper .title {
    text-align: center;
    font-size: 30px;
  }
}